WIREGUARD_PRIVATE_KEY=""
SERVER_COUNTRIES="Netherlands,Switzerland"
MEDIA_DIR="./media"
CONFIG_PATH="./config.yaml"
DB_PATH="./database.db"
API_PORT="8080"
TZ="Europe/Paris"
DISCORD_WEBHOOK=""
NTFY_TOPIC=""
